<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

| Data Science Tools |
| ------------------ |
|     RStudio        |
|    Apache Spark    |  
|   Apache Hadoop    |

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [8]:
# This a simple arithmetic expression to mutiply then add integers
eval = (3*4)+5
print(eval)
print(eval==17)

17
True

In [9]:
# This will convert 200 minutes to hours by diving by 60
print(200 / 6)

33.333333333333336

<b>Objectives:</b>
* Popular languages for Data Science
* Commonly used Data Science libraries
* Arithmetic expressions in Python

<h2> Author </h2>
Krystle Myrdahl